.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  max-width: 105px;
  height: 39px;
  margin: 0;
  padding-left: 80px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-link {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  gap: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-right: 80px;
  transition: ease 0.3s;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-heading {
  color: #ffffff;
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-icon {
  max-width: 16px;
  height: 16px;
}

.footer__copyright {
  color: #ffffff;
  margin: 108px 0 0;
  padding: 0 80px 60px;
}
